<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Content/Imagenes/cv-favicon.png" type="image/x-icon">
    <title>CV - Creá tu Curriculum Vitae</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container d-flex flex-row-reverse">
            @if (@HttpContext.Current.Session["Usuario"] != null)
            {
                <a class="navbar-brand page-scroll" href="@Url.Action("LoginOff", "CerrarSesion")">Cerrar Sesión <i class="fa fa-sign-out"></i></a>
            }
            else
            {
                <a class="navbar-brand page-scroll" href="@Url.Action("Index", "Usuario")">Iniciar Sesión <i class="fa fa-sign-in"></i></a>
            }

        </div>
    </nav>
    <header id="first">
        <div class="header-content">
            <div class="inner">
                <h2>Creá tu Curriculum Vitae</h2>
                <h5 class="wow fadeIn text-normal">Completalo y tendrás un CV fácil y atractivo para los reclutadores.</h5>
                <hr>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer id="footer">
        <div class="container">
            <span class="pull-right text-muted small bs-tooltip-bottom">CV - Curriculum Vitae @DateTime.Now.Year.ToString()</span>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>