<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Content/Imagenes/cv-favicon.png" type="image/x-icon" >
    <title>CV - Creá tu Curriculum Vitae</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*@*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CV", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>*@
    @*<div class="container body-content">*@
    <header class="header">
        <a href="/" class="brand-logo">
            <img src="~/Content/Imagenes/cv-nav.png" title="CV - Creá tu Curriculum Vitae" alt="CV - Creá tu Curriculum Vitae"
                 class="brand-img" />
        </a>

        <div class="icon-menu" id="icon-menu">
            <div class="icon-menu__bar icon-menu__bar--one"></div>
            <div class="icon-menu__bar icon-menu__bar--two"></div>
            <div class="icon-menu__bar icon-menu__bar--three"></div>
        </div>

        <nav class="main-nav" id="main-nav">
            <ul class="main-menu">
                <li class="main-menu__item">
                    @if (@HttpContext.Current.Session["Usuario"] != null)
                    {
                        <a href="@Url.Action("LoginOff", "CerrarSesion")" class="main-menu__link">Cerrar Sesión</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "Usuario")" class="main-menu__link">Iniciar Sesión</a>
                    }
                </li>

                <li class="main-menu__item">
                    <a href="#" class="main-menu__link">contacto</a>
                </li>
            </ul>
        </nav>
    </header>
        @RenderBody()
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CV</p>
        </footer>*@
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
