@model EducacionDTO

<div class="container wow fadeInUp">
    <div class="row">

        <div class="col-lg-12 col-sm-12 text-capitalize">
            <div class="col-sm-12">
                <a href="@Url.Action("Index", "Educacion")"><p class="btn btn-lg btn-primary text-uppercase"><i class="fa fa-chevron-circle-left"></i> Volver</p></a>
                <a href="@Url.Action("Actualizar", "Educacion", new { id = Model.EducacionId})"><p class="btn btn-outline-dark btn-lg text-uppercase"><i class="fa fa-edit"></i> Editar</p></a>
            </div>

            <div class="card col-lg-12 col-sm-12">
                <div class="card-header text-center">
                    <i class="fa fa-graduation-cap fa-2x"></i> Título: @Model.Titulo
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-university fa-2x text-primary"></i> Establecimiento Educativo: @Model.EstablecimientoEducativo</li>
                    <li class="list-group-item"><i class="fa fa-info-circle fa-2x text-primary"></i> Estado: @Model.Estado</li>
                    <li class="list-group-item"><i class="fa fa-calendar-o fa-2x text-primary"></i> Fecha de Inicio: @Model.FechaDesde.ToShortDateString()</li>
                    <li class="list-group-item"><i class="fa fa-calendar-check-o fa-2x text-primary"></i> Lugar de Fin: @Model.FechaHasta.ToShortDateString()</li>
                    <li class="list-group-item"><i class="fa fa-comment-o fa-2x text-primary"></i> Comentario: @Model.Comentario</li>
                    <li class="list-group-item"><i class="fa fa-external-link fa-2x text-primary"></i> URL: @Model.Link</li>
                </ul>
            </div>
        </div>
    </div>
</div>