@model IEnumerable<EducacionDTO>
@{
    ViewBag.Title = "Index";
}

<section id="two" class="bg-alt">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-xs-center">
                @if (ViewBag.ObjUsuario != null)
                {
                    <h2><span class="text-success">@ViewBag.ObjUsuario.UsuarioNombre</span> Continuemos completando el CV.</h2>
                }

                <h3 class="m-t-0 text-primary">Impulsá tu carrera profesional</h3>
                <a href="@Url.Action("Index", "DatosPersonales")"><p class="btn btn-lg btn-primary text-uppercase"><i class="fa fa-chevron-circle-left"></i> Volver</p></a>
                <h4>Educación</h4>
                @if (Model != null)
                {
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Titulo</th>
                                <th>Establecimiento</th>
                                <th>Estado</th>
                                <th>Ver</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var datos in Model)
                            {
                                <tr>
                                    <td>@datos.Titulo</td>
                                    <td>@datos.EstablecimientoEducativo</td>
                                    <td>@datos.Estado</td>
                                    <td><a href="@Url.Action("Detalle", "Educacion", new { id = datos.EducacionId })"><i class="fa fa-eye fa-2x"></i></a></td>
                                    <td><a href="@Url.Action("Actualizar", "Educacion", new { id = datos.EducacionId })"><i class="fa fa-edit fa-2x text-success"></i></a></td>
                                    <td style="cursor:pointer" id="eliminar" data-id="@datos.EducacionId" data-institution="@datos.EstablecimientoEducativo" data-title="@datos.Titulo" data-toggle="modal" data-target="#eliminarEducacion"><i class="fa fa-trash fa-2x text-danger"></i></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="@Url.Action("Nuevo", "Educacion")" class="btn btn-dark btn-xl page-scroll wow fadeInUp">Nuevo Item Educación <i class="fa fa-plus-circle"></i></a>
                    <a href="@Url.Action("Index", "ExperienciaLaboral")" class="btn btn-primary btn-xl page-scroll wow fadeInUp">Completar Experiencia Laboral <i class="fa fa-user-plus"></i></a>
                }
                else
                {
                    <a href="@Url.Action("Nuevo", "Educacion")" class="btn btn-primary btn-xl page-scroll wow fadeInUp">Completar Educación <i class="fa fa-graduation-cap"></i></a>
                }
                <hr class="primary">
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="eliminarEducacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <h5 class="modal-title" id="elimiarinstitution"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                       <h6 id="eliminarTitulo"></h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <p class="btn btn-lg btn-danger"><a href="" style="color:white; font-weight:bold" id="formularioEliminar">Eliminar</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("td#eliminar").click(function () {
            var id = $(this).attr("data-id");
            var title = $(this).attr("data-title");
            var institution = $(this).attr("data-institution");
            
            $("#id").val(id);
            $("#formularioEliminar").attr('href', '@Url.Action("Eliminar", "Educacion")' + '/' + id);
            $("#elimiarinstitution").html("Establecimiento: " + institution);
            $("#eliminarTitulo").html("¿Está Seguro En Eliminar " + "<span class='text-danger text-center'>" + title + "</span> ?");
        });
    </script>
</section>
