@model IEnumerable<IdiomaDTO>
@{
    ViewBag.Title = "Index";
}

<section id="two" class="bg-alt">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-xs-center">
                @if (ViewBag.ObjUsuario != null)
                {
                    <h2><span class="text-success">@ViewBag.ObjUsuario.UsuarioNombre</span> Continuemos completando el CV.</h2>
                }

                <h3 class="m-t-0 text-primary">Impulsá tu carrera profesional</h3>
                <a href="@Url.Action("Index", "ExperienciaLaboral")"><p class="btn btn-lg btn-primary text-uppercase"><i class="fa fa-chevron-circle-left"></i> Volver</p></a>
                <h4>Idiomas</h4>
                @if (Model != null)
                {
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Ver</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var datos in Model)
                            {
                                <tr>
                                    <td>@datos.Descripcion</td>
                                    <td><a href="@Url.Action("Detalle", "Idioma", new { id = datos.IdiomaId})"><i class="fa fa-eye fa-2x"></i></a></td>
                                    <td><a href="@Url.Action("Actualizar", "Idioma", new { id = datos.IdiomaId})"><i class="fa fa-edit fa-2x text-success"></i></a></td>
                                    <td style="cursor:pointer" id="eliminar" data-id="@datos.IdiomaId" data-Descripcion="@datos.Descripcion" data-toggle="modal" data-target="#eliminarIdioma"><i class="fa fa-trash fa-2x text-danger"></i></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="@Url.Action("Nuevo", "Idioma")" class="btn btn-dark btn-xl page-scroll wow fadeInUp">Nuevo Item Idioma <i class="fa fa-globe"></i></a>
                    <a href="@Url.Action("Index", "Conocimiento")" class="btn btn-primary btn-xl page-scroll wow fadeInUp">Completar Conocimiento <i class="fa fa-user-plus"></i></a>
                }
                else
                {
                    <p class="text-capitalize">No hay idiomas cargados.</p>
                    <a href="@Url.Action("Nuevo", "Idioma")" class="btn btn-primary btn-xl page-scroll wow fadeInUp">Completar Idioma <i class="fa fa-globe"></i></a>
                }
                <hr class="primary">
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="eliminarIdioma" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <h5 class="modal-title" id="elimiarNIvel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h6 id="eliminarDescripcion"></h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <p class="btn btn-lg btn-danger"><a href="" style="color:white; font-weight:bold" id="formularioEliminar">Eliminar</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("td#eliminar").click(function () {
            var id = $(this).attr("data-id");
            var descripcion = $(this).attr("data-Descripcion");

            $("#id").val(id);
            $("#formularioEliminar").attr('href', '@Url.Action("Eliminar", "Idioma")' + '/' + id);
            $("#eliminarDescripcion").html("¿Está Seguro En Eliminar " + "<span class='text-danger text-center'>" + descripcion + "</span> ?");
        });
    </script>
</section>


