@model DatosPersonalesDTO

<div class="container wow fadeInUp">
    <div class="row">

        <div class="col-lg-12 col-sm-12 text-capitalize">
            <div class="col-sm-12">
                <a href="@Url.Action("Index", "DatosPersonales")"><p class="btn btn-lg btn-primary text-uppercase"><i class="fa fa-chevron-circle-left"></i> Volver</p></a>
                <a href="@Url.Action("Actualizar", "DatosPersonales", new { id = Model.DatospersonalesId})"><p class="btn btn-outline-dark btn-lg text-uppercase"><i class="fa fa-edit"></i> Editar</p></a>
            </div>
            
            @if (ViewBag.ObjUsuario != null)
            {
                <input type="hidden" value="@ViewBag.ObjUsuario.UsuarioId" name="UsuarioId" />
            }
            @Html.HiddenFor(x => x.DatospersonalesId)
                
            <div class="card col-lg-12 col-sm-12">
                <div class="card-header text-center">
                    @Model.Nombres @Model.Apellido
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-calendar-o fa-2x"></i> Fecha de Nacimiento: @Model.FechaNacimiento.ToShortDateString()</li>
                    <li class="list-group-item"><i class="fa fa-info-circle fa-2x"></i> Nacionalidad: @Model.Nacionalidad</li>
                    <li class="list-group-item"><i class="fa fa-phone fa-2x"></i> Teléfono: @Model.Telefono</li>
                    <li class="list-group-item"><i class="fa fa-street-view fa-2x"></i> Lugar de Nacimiento: @Model.LugarNacimiento</li>
                    <li class="list-group-item"><i class="fa fa-home fa-2x"></i> Domicilio: @Model.Domicilio @Model.NroDomicilio</li>
                    <li class="list-group-item"><i class="fa fa-envelope-open-o fa-2x"></i> Código Postal: @Model.CodigoPostal</li>
                    <li class="list-group-item"><i class="fa fa-envelope-o fa-2x"></i> Correo Electrónico: <span class="text-lowercase">@Model.Email</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>