@model DatosPersonalesDTO
@{
    ViewBag.Title = "Index";
}

<section id="two" class="bg-alt">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-xs-center">
                @if (ViewBag.ObjUsuario != null)
                {
                    <h2>Bienvenido <span class="text-success">@ViewBag.ObjUsuario.UsuarioNombre</span>, Empecemos a completar el CV.</h2>
                }

                <h3 class="m-t-0 text-primary">Impulsá tu carrera profesional</h3>
                @if (Model != null)
                {
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nombres</th>
                                <th>Apellido</th>
                                <th>Email</th>
                                <th>Ver</th>
                                <th>Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>@Model.Nombres</td>
                              <td>@Model.Apellido</td>
                              <td>@Model.Email</td>
                              <td><a href="@Url.Action("Detalle", "DatosPersonales", new { id = Model.DatospersonalesId})"><i class="fa fa-eye fa-2x"></i></a></td>
                              <td><a href="@Url.Action("Actualizar", "DatosPersonales", new { id = Model.DatospersonalesId})"><i class="fa fa-edit fa-2x"></i></a></td>
                           </tr>
                        </tbody>
                    </table>
                    <a href="@Url.Action("Index", "Educacion")" class="btn btn-primary btn-xl page-scroll wow fadeInUp">Completar CV</a>
                }
                else
                {
                    <a href="@Url.Action("Nuevo", "DatosPersonales")" class="btn btn-primary btn-xl page-scroll wow fadeInUp">Completar CV</a>
                }
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-ios-grid-view-outline wow fadeIn" data-wow-delay=".1s"></i>
                    <h6 class="text-uppercase">¿Cómo calcular la remuneración pretendida para postular a un trabajo?</h6>
                    <p class="text-muted m-b-0">Tocar el tema de la remuneración pretendida suele generar dudas e incomodidad. Poner un monto muy bajo o muy alto puede ser la razón por la que los reclutadores pasen de largo una postulación.
                    Sin embargo, esto no tiene por qué ser así: actualmente, existen páginas y herramientas a través de las cuales resulta muy sencillo averiguar cuáles son los sueldos promedio de múltiples posiciones. A continuación,
                    te contamos tres formas para saber cómo calcular tu remuneración pretendida al momento de aplicar a un puesto de trabajo.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-social-sass wow fadeInUp"></i>
                    <h6 class="text-uppercase">¿Cómo aumentar tu productividad laboral?</h6>
                    <p class="text-muted m-b-0">
                        • Usá apps y herramientas que te faciliten la organización y planificación de tus tareas.
                          Por ejemplo, podés agendar tus eventos y recordatorios en Google Calendar y usar Trello, una plataforma de gestión de proyectos muy sencilla, para planificar los próximos pasos y obligaciones a cumplir.

                        • Hacé anotaciones para no olvidarte de lo importante.
                          Existen muchísimas apps para tomar notas y crear checklists. Anotar las tareas a realizar durante el día de trabajo es una buena práctica para hacer un seguimiento y no olvidarse de nada. Podés usar Google Keep o Evernote, ¡son muy sencillas e intuitivas!

                        • Distribuí las tareas de la mejor manera
                          Dedicá tus horas de mayor concentración a aquellas tareas más complicadas de llevar adelante. Esos momentos dependerán de cada persona, pero lo ideal es que puedas organizarte de la forma que te sea más conveniente junto al resto de tu equipo.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-social-css3-outline wow fadeIn" data-wow-delay=".1s"></i>
                    <h6 class="text-uppercase">¿Cómo evitar la procrastinación?</h6>
                    <p class="text-muted m-b-0">
                        ¿Dejás todo para último momento? ¡A eso se le llama procrastinar! Posponer las tareas laborales indefinidamente no sólo te perjudicará en tu trabajo, sino que también te puede llegar a generar estrés, frustración y falta de motivación.

                        Es importante que detectes qué te lleva a postergar tus actividades y responsabilidades para poder encontrar una solución cuanto antes. De esta manera, vas a poder cumplir con tus obligaciones y lograr un mayor rendimiento profesional. A continuación, te damos algunos consejos para evitar la procrastinación.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/Home.js"></script>