@model ObjetivoDTO
@{
    ViewBag.Title = "Index";
}

<section id="two" class="bg-alt">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-xs-center">
                @if (ViewBag.ObjUsuario != null)
                {
                    <h2><span class="text-success">@ViewBag.ObjUsuario.UsuarioNombre</span> Continuemos completando el CV.</h2>
                }

                <h3 class="m-t-0 text-primary">Impulsá tu carrera profesional</h3>
                <a href="@Url.Action("Index", "Conocimiento")"><p class="btn btn-lg btn-primary text-uppercase"><i class="fa fa-chevron-circle-left"></i> Volver</p></a>
                <h4>Perfil Profesional</h4>
                @if (Model != null)
                {
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Ver</th>
                                <th>Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.Descripcion</td>
                                <td><a href="@Url.Action("Detalle", "Objetivo", new { id = Model.ObjetivoId})"><i class="fa fa-eye fa-2x"></i></a></td>
                                <td><a href="@Url.Action("Actualizar", "Objetivo", new { id = Model.ObjetivoId })"><i class="fa fa-edit fa-2x text-success"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="@Url.Action("Index", "imagen")" class="btn btn-primary btn-xl page-scroll wow fadeInUp">Cargar imagen <i class="fa fa-image"></i></a>
                }
                else
                {
                    <p class="text-capitalize">No hay ningún item cargado.</p>
                    <a href="@Url.Action("Nuevo", "Objetivo")" class="btn btn-primary btn-xl page-scroll wow fadeInUp">Completar Perfil Profesional <i class="fa fa-graduation-cap"></i></a>
                }
                <hr class="primary">
            </div>
        </div>
        
    </div>
</section>
