@model ExperienciaLaboralDTO

<div class="container wow fadeInUp">
    <div class="row">

        <div class="col-lg-9 col-sm-9 text-capitalize">
            <div class="col-sm-12">
                <a href="@Url.Action("Index", "ExperienciaLaboral")"><p class="btn btn-lg btn-primary text-uppercase"><i class="fa fa-chevron-circle-left"></i> Volver</p></a>
            </div>

            <h2>Editar Experiencia Laboral</h2>

            <form method="post" action="@Url.Action("Actualizar", "ExperienciaLaboral")">
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.ExperienciaLaboralId)
                <div class="col-sm-9 form-group">
                    <label for="Puesto">Puesto: </label>
                    @Html.TextBoxFor(x => x.Puesto, new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(x => x.Puesto)


                    @if (ViewBag.ObjUsuario != null)
                    {
                        <input type="hidden" value="@ViewBag.ObjUsuario.UsuarioId" name="UsuarioId" />
                    }
                </div>
                <div class="col-sm-9 form-group">
                    <label for="Descripcion">Descripción:</label>
                    @Html.TextAreaFor(x => x.Descripcion, new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(x => x.Descripcion)
                </div>

                <div class="col-sm-6 form-group">
                    <label for="FechaDesde">Fecha Desde:</label>
                    @Html.TextBoxFor(x => x.FechaDesde, "{0:yyyy-MM-dd}", new { @class = "form-control", @required = "required", @type = "date" })
                    @Html.ValidationMessageFor(x => x.FechaDesde)
                </div>
                <div class="col-sm-9 form-group">
                    <label for="nacionalidad">Fecha Hasta:</label>
                    @Html.TextBoxFor(x => x.FechaHasta, new { @class = "form-control", @required = "required", @type = "date" })
                </div>
                <div class="col-sm-9 form-group">
                    <label for="ReferenciaNombre">Referencia Laboral:</label>
                    @Html.TextBoxFor(x => x.ReferenciaNombre, new { @class = "form-control" })
                </div>
                <div class="col-sm-9 form-group">
                    <label for="dom">Referencia Teléfono:</label>
                    @Html.TextBoxFor(x => x.ReferenciaTelefono, new { @class = "form-control" })
                </div>
                
                <div class="col-sm-6 form-group">
                    <button type="submit" class="btn btn-success btn-lg">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<hr class="primary" />