<div class="wrapper">
    <div class="sidebar-wrapper">
        <div class="profile-container">
            @if(ViewBag.Imagen != null)
            {
                <img class="profile img-thumbnail" src="~/Content/Imagenes/Upload/@ViewBag.Imagen.Nombre" alt="@ViewBag.Imagen.Nombre" />
            }
            @if (ViewBag.DatosPersonales != null)
            {
                <h1 class="name">@ViewBag.DatosPersonales.Nombres @ViewBag.DatosPersonales.Apellido</h1>
                <h3 class="tagline">@ViewBag.DatosPersonales.Profesion</h3>
            }
        </div><!--//profile-container-->

        <div class="contact-container container-block">
            <ul class="list-unstyled contact-list">
                @if (ViewBag.DatosPersonales != null)
                {
                    <li class="email"><i class="fa fa-envelope"></i> Email: @ViewBag.DatosPersonales.Email</li>
                    <li class="phone"><i class="fa fa-phone"></i> Teléfono: @ViewBag.DatosPersonales.Telefono</li>
                    <li><i class="fa fa-calendar-times-o"></i> Fecha de Nacimiento: @ViewBag.DatosPersonales.FechaNacimiento.ToShortDateString()</li>
                    <li><i class="fa fa-home"></i> Domicilio: @ViewBag.DatosPersonales.Domicilio: @ViewBag.DatosPersonales.NroDomicilio</li>
                    <li><i class="fa fa-street-view"></i> Código Postal: @ViewBag.DatosPersonales.CodigoPostal</li>
                    <li><i class="fa fa-user-circle"></i> Nacimiento en : @ViewBag.DatosPersonales.LugarNacimiento</li>
                    <li><i class="fa fa-address-card"></i> Nacionalidad: @ViewBag.DatosPersonales.Nacionalidad</li>
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="@ViewBag.DatosPersonales.Linkedin" target="_blank"> martin-matias</a></li>
                    <li class="github"><i class="fa fa-github"></i><a href="@ViewBag.DatosPersonales.Git" target="_blank"> marto1986</a></li>
                }
            </ul>
        </div><!--//contact-container-->
        

    </div><!--//sidebar-wrapper-->

    <div class="main-wrapper">

        <section class="section summary-section">
            <h2 class="section-title"><i class="fa fa-user"></i> Perfil Profesional</h2>
            <div class="summary">
            @if (ViewBag.Objetivo != null)
            {
                <p>@ViewBag.Objetivo.Descripcion</p>
            }
            </div><!--//summary-->
        
            <h2 class="section-title"><i class="fa fa-briefcase"></i> Experiencia Laboral</h2>
            @if (ViewBag.ExperienciaLaboral != null)
            {
                foreach (ExperienciaLaboralDTO expLaboral in ViewBag.ExperienciaLaboral)
                {
                <div class="item">
                   <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title">@expLaboral.Puesto</h3>
                            </div><!--//upper-row-->
                            <div class="company">Desde @expLaboral.FechaDesde.ToShortDateString() Hasta @if (expLaboral.FechaHasta.HasValue || expLaboral.FechaHasta != null)
                            { @expLaboral.FechaHasta.ToString() }
                            @if(expLaboral.Actualidad == true)
                            {
                                "La Actualidad".ToString();
                            }
                             </div>
                        </div><!--//meta-->
                        <div class="details">
                            <p>@expLaboral.Descripcion</p>
                        </div><!--//details-->
                   
                </div><!--//item-->
                }
            }

            <h2 class="section-title"><i class="fa fa-graduation-cap"></i> Estudios</h2>
            @if (ViewBag.requestEducacion != null)
            {
                foreach (EducacionDTO edu in ViewBag.requestEducacion)
                {
                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title">@edu.EstablecimientoEducativo</h3>
                            </div><!--//upper-row-->
                            <div class="company">
                                <h5 class="meta">@edu.Titulo</h5>
                            </div>
                        </div><!--//meta-->
                        <div class="company">
                            <p>@edu.FechaDesde.ToShortDateString() - @edu.FechaHasta.ToShortDateString()</p>
                        </div><!--//details-->

                    </div><!--//item-->
                }
            }
        
            <h2 class="section-title"><i class="fa fa-globe"></i> Idiomas</h2>
            <div class="skillset">
                @if (ViewBag.Idioma != null)
                {
                    foreach (IdiomaDTO idioma in ViewBag.Idioma)
                    {
                        <h3 class="level-title">@idioma.Descripcion</h3>
                        <br/><br />
                        <div class="item">
                            
                           
                                @if (idioma.NivelEscrito == "Alto")
                                {
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Escrito</div>
                                    </div>
                                }
                                @if (idioma.NivelEscrito == "Intermedio")
                                {
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Escrito</div>
                                    </div>
                                }
                                @if (idioma.NivelEscrito == "Bajo")
                                {
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Escrito</div>
                                    </div>
                                }
                                    
                            <hr class="primary" />
                            
                                @if (idioma.NivelOral == "Alto")
                                {
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Oral</div>
                                    </div>
                                }
                                @if (idioma.NivelOral == "Intermedio")
                                {
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Oral</div>
                                    </div>
                                }
                                @if (idioma.NivelOral == "Bajo")
                                {
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Oral</div>
                                    </div>
                                }
                                  
                       </div>
                    }
                }

            </div>
        </section>
        <section class="section projects-section">
            <h2 class="section-title"><i class="fa fa-rocket"></i> Habilidades &amp; Conocimientos</h2>
            <div class="skillset">
                @if (ViewBag.Conocimiento != null)
                {
                    foreach (ConocimientoDTO conocimiento in ViewBag.Conocimiento)
                    {
                        <div class="item">
                            <h3 class="level-title">@conocimiento.Descripcion</h3>
                            <div class="progress level-bar">
                                @if (conocimiento.Nivel == "Alto")
                                {
                                    <div class="progress-bar theme-progress-bar" role="progressbar" style="width:100%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
                                }
                                @if (conocimiento.Nivel == "Intermedio")
                                {
                                    <div class="progress-bar theme-progress-bar" role="progressbar" style="width:50%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
                                }
                                @if (conocimiento.Nivel == "Bajo")
                                {
                                    <div class="progress-bar theme-progress-bar" role="progressbar" style="width:25%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
                                }
                            </div>
                        </div>
                    }
                }

            </div>
        </section><!--//skills-section-->

    </div><!--//main-body-->
</div>

